.home .container {
  max-width: 1770px;
}

.home-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 86px 120px 86px 98px;
  color: #fff;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#000), to(rgba(0, 0, 0, 0))), url("../img/home-bg.png"), lightgray 50%/cover no-repeat;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 100%), url("../img/home-bg.png"), lightgray 50%/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home-wrapper__callback {
  margin: 0 0 0 auto;
  border-radius: 20px;
  background: #333;
  max-width: 435px;
  width: 100%;
  padding: 30px;
}
.home-wrapper__callback .box-text {
  font-size: 16px;
}
.home-wrapper .phone {
  color: #fff;
  margin: 0 0 5px;
  font-size: 36px;
}
.home-wrapper .phone:hover {
  color: #8CC63F;
}
.home-wrapper .form {
  max-width: none;
}
.home-wrapper .form .box-text {
  margin: 0 0 20px;
  max-width: 329px;
}
.home-wrapper .form [type=submit] {
  height: 47px;
}
.home-wrapper .form .consent {
  color: #8CC63F;
}
.home-wrapper .form label {
  margin: 0 0 20px;
}
.home-wrapper .form input {
  height: 66px;
  background: transparent;
  color: #fff;
  font-size: 20px;
}
.home-wrapper .form input::-webkit-input-placeholder {
  color: #fff;
}
.home-wrapper .form input::-moz-placeholder {
  color: #fff;
}
.home-wrapper .form input:-ms-input-placeholder {
  color: #fff;
}
.home-wrapper .form input::-ms-input-placeholder {
  color: #fff;
}
.home-wrapper .form input::placeholder {
  color: #fff;
}

.home-box {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;
}
.home-box:last-child {
  margin: 0;
}
.home-box__body {
  max-width: 573px;
  width: 100%;
}
.home-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 62px;
  height: 62px;
  margin: 5px 37px 0 0;
}

.about-products {
  margin: 95px 0;
}

.about-products-box {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 50px 90px 80px 135px;
  border-radius: 20px;
}
.about-products-box__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 23px;
}
.about-products-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 30px 0 -90px;
}
.about-products-box__photo {
  margin: 114px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-products-category {
  font-weight: 500;
  margin: 0 0 42px;
}
.about-products-category li {
  margin: 0 0 20px;
}
.about-products-category li:last-child {
  margin: 0;
}
.about-products-category__cars {
  width: 100%;
  padding: 28px 0 38px;
  border-top: 1px solid #8CC63F;
  border-bottom: 1px solid #8CC63F;
}
.about-products-category__cars-list {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.about-products-sizes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 42px 0 0;
}
.about-products-sizes__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-products-sizes__box-icon {
  width: 56px;
  min-width: 56px;
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-products-sizes__box:last-child .about-products-sizes__box-icon {
  width: 31px;
  min-width: 31px;
}
.about-products-sizes p {
  font-weight: 500;
}

.where-to-sell-tires h2 {
  max-width: 552px;
  margin: 0 60px;
}
.where-to-sell-tires .text-description {
  max-width: 450px;
}

.address-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.address-wrapper h3 {
  margin: 0 0 36px;
}

.address-box {
  background: #fff;
  margin: 0 auto 30px 0;
  padding: 30px;
  border-radius: 20px;
}
.address-box__name {
  font-weight: 500;
  margin: 0 0 15px;
}
.address-box__tel {
  margin: 10px 0 0;
  color: #333;
}
.address-box__tel:hover {
  color: #8CC63F;
}
.address-box__mail {
  margin: 15px 0 0;
}
.address-box:last-child {
  margin: 0 0 30px;
}

.callback-section {
  margin: 48px 0 88px;
}
.callback-section h2 {
  text-transform: uppercase;
  max-width: 485px;
}
.callback-section h3 {
  margin: 18px 0 64px;
  font-weight: normal;
}

.callback-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 20px;
  background: #FFF;
}

.export-box {
  width: calc(100% - 582px);
  border-radius: 20px;
  background: url("../img/callback-bg.jpeg") no-repeat center, #8CC63F;
  background-size: cover;
  background-blend-mode: screen, normal;
  color: #000;
  padding: 57px 75px 46px;
}
.export-box .box-text {
  max-width: 677px;
}

.callback-box {
  width: 100%;
  max-width: 582px;
  padding: 65px 60px 44px;
}
.callback-box .phone {
  font-size: 40px;
  font-weight: 500;
  color: #000;
  margin: 0 0 34px;
}
.callback-box .phone:hover {
  color: #8CC63F;
}
.callback-box .box-text {
  max-width: 301px;
}

.consent {
  font-size: 10px;
  max-width: 141px;
}

.form {
  max-width: 366px;
  width: 100%;
}
.form [type=submit] {
  padding: 10px 20px;
}
.form .box-text {
  margin: 0 0 24px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.warranty h2 {
  max-width: 803px;
}
.warranty .title-wrapper {
  position: relative;
  z-index: 1;
  margin: 0 0 54px;
}
.warranty .title-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: calc(100% - 93px - 93px);
  left: 65px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: calc(100% - 245px - 65px);
  border-radius: 20px;
  border: 1px solid #8CC63F;
}
.warranty .title-wrapper .warranty-img {
  margin: 0 0 0 auto;
  max-width: 390px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.warranty-icon {
  margin: 0 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 122px;
  width: 100%;
}

.warranty-box {
  font-size: 36px;
}
.warranty-box h3 {
  color: #8CC63F;
  font-size: 64px;
  font-weight: 500;
  margin: 0 0 -5px;
}

.licensies-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 0 0 66px;
  margin: 47px 0 80px;
}
.licensies-wrapper h3 {
  max-width: 496px;
  font-weight: normal;
}
.licensies-wrapper .btn {
  margin: 0 100px 0 auto;
}
.licensies-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: calc(100% - 27px - 27px);
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: calc(100% - 255px);
  border-radius: 20px;
  border: 1px solid #8CC63F;
}

.licensies-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.license-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  width: 178px;
  min-width: 178px;
  height: 196px;
  margin: 0 6px 0 0;
}
.license-photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.qr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: #FFF;
  padding: 6px;
  padding: 8px;
  width: 196px;
  height: 196px;
}
.qr img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery-photo__item {
  max-width: 737px;
  width: 100%;
  height: 496px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery-photo__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.w371 {
  width: 371px;
}

.w278 {
  width: 278px;
}

.documents {
  margin: 107px 0 100px;
}
.documents .title-wrapper {
  margin: 0 0 46px;
}

.logo-company {
  margin: 0 0 0 auto;
}

.documents-content {
  margin: 0 0 76px;
}
.documents-content h3 {
  font-weight: normal;
  font-size: 40px;
  max-width: 882px;
  margin: 0 0 23px;
}
.documents-content h3 sup {
  font-size: 30px;
}

.documnets-image {
  width: 100%;
  height: 379px;
  border-radius: 20px;
  margin: 0 0 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.documnets-image img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.advantages-box {
  background: #fff;
  border-radius: 20px;
  padding: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 auto 40px;
  max-width: 1246px;
  width: 100%;
}
.advantages-box:last-child {
  margin: 0 auto;
}
.advantages-box__icon {
  width: 86px;
  height: 86px;
  min-width: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 40px 0 0;
}

.partners h2 {
  margin: 0 0 45px;
  font-weight: normal;
  font-size: 36px;
}

.partners-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  border: 1px solid #8CC63F;
  border-radius: 20px;
}
.partners-card__img {
  width: 158px;
  height: 158px;
  min-width: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  margin: 0 30px 0 0;
}
.partners-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.cooperation {
  margin: 67px 0 152px;
}

.cooperation-wrapper {
  margin: 0 auto;
  background: #fff;
  border-radius: 20px;
  max-width: 1256px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.cooperation-wrapper h2 {
  text-transform: uppercase;
}

.cooperation-callback {
  max-width: 613px;
  width: 100%;
  padding: 59px;
  background: url("../img/callback-bg.jpeg") no-repeat center, #8CC63F;
  background-size: cover;
  background-blend-mode: screen, normal;
  border-radius: 20px;
}
.cooperation-callback .form {
  max-width: 395px;
  margin: 0 auto;
}
.cooperation-callback .form .box-text {
  font-size: 20px;
}
.cooperation-callback .form label {
  max-width: 366px;
}
.cooperation-callback .form input::-webkit-input-placeholder {
  color: #333;
}
.cooperation-callback .form input::-moz-placeholder {
  color: #333;
}
.cooperation-callback .form input:-ms-input-placeholder {
  color: #333;
}
.cooperation-callback .form input::-ms-input-placeholder {
  color: #333;
}
.cooperation-callback .form input::placeholder {
  color: #333;
}

.cooperation-content {
  width: calc(100% - 613px);
  padding: 39px 17px 41px 66px;
}
.cooperation-content .box-text {
  margin: 15px 0 35px;
}
.cooperation-content .phone {
  font-size: 48px;
  margin: 0;
}

.question h2 {
  margin: 0 0 60px;
  font-weight: normal;
  font-size: 36px;
}

.accordion {
  background: transparent;
  border: none;
  border-radius: 0;
}

.accordion-item {
  margin: 0 0 30px;
  border: none;
  border-radius: 20px;
  background: #fff;
}
.accordion-item:last-of-type, .accordion-item:first-of-type {
  border-radius: 20px;
}
.accordion-item:last-child {
  margin: 0;
}

.accordion-button {
  font-size: 24px;
  background: transparent;
  border: none;
  border-radius: 20px 20px 0 0;
  padding: 33px 32px 33px 38px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}
.accordion-button:not(.collapsed) {
  border-radius: 20px 20px 0 0;
  color: #333;
  background: rgba(140, 198, 63, 0.3);
}
.accordion-button:not(.collapsed):after {
  background: url("../img/accordion-icon.svg") no-repeat center;
  background-size: 100%;
}
.accordion-button:after {
  width: 33px;
  height: 16px;
  background: url("../img/accordion-icon.svg") no-repeat center;
  background-size: 100%;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 20px 20px 0 0;
}

.accordion-body {
  padding: 20px 33px;
  font-size: 20px;
}