@font-face {
  font-family: "Eastman";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Eastman/Eastman-Regular.eot");
  src: url("../fonts/Eastman/Eastman-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Eastman/Eastman-Regular.woff") format("woff"), url("../fonts/Eastman/Eastman-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Eastman";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Eastman/Eastman-Medium.eot");
  src: url("../fonts/Eastman/Eastman-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Eastman/Eastman-Medium.woff") format("woff"), url("../fonts/Eastman/Eastman-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Eastman";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Eastman/Eastman-Bold.eot");
  src: url("../fonts/Eastman/Eastman-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Eastman/Eastman-Bold.woff") format("woff"), url("../fonts/Eastman/Eastman-Bold.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Eastman", sans-serif;
  font-weight: normal;
  background: #F2F2F2;
  color: #333;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Eastman", sans-serif;
  border-radius: 10px;
  border: 1px solid #8CC63F;
  background: #FFF;
  width: 100%;
  height: 72px;
  color: #000;
  font-size: 24px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #000;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #000;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #000;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #000;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #000;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 22px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Eastman", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 500;
  height: 67px;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  border-radius: 10px;
}

.btn-accent {
  color: #fff;
  background: #8CC63F;
  -webkit-box-shadow: 0px 25px 35px 0px rgba(140, 198, 63, 0.2);
          box-shadow: 0px 25px 35px 0px rgba(140, 198, 63, 0.2);
}
.btn-accent:hover {
  color: #fff;
}
.btn-accent:hover::before {
  width: 100%;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
}

h3 {
  font-size: 36px;
  font-weight: 500;
  width: 100%;
}

.container {
  padding: 0 15px;
  max-width: 1470px;
}

.row {
  margin: 0 -15px;
}
.row > * {
  padding: 0 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.color-accent {
  color: #8CC63F;
}

a.color-accent {
  color: #8CC63F;
}
a.color-accent:hover {
  color: #333;
}

.text-description {
  font-size: 24px;
}

.title-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 70px;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}